@import "compass";
@import "partials/base";
@import "partials/variables";
@import "partials/normalize";
@import "partials/layout";
@import "partials/modules";
@import "partials/mixins";
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

// button styling
%btn{
	position: absolute;
	width: 5em;
	height: 5em;
	border-radius : 50%;
	margin: 5% auto;
	cursor: pointer;
	text-align : center;
	line-height: 2em;
	padding-top : 1.75%;
	box-shadow: 4px 4px 4px 2px #e3e3e3;
	color: #fff;
	font-family: Josefin Sans,sans-serif;
	font-weight: bold;
}
.menu-btn{
	@extend %btn;
	background-color: $color-menu;
	z-index: 10;
}
.home-btn{
	@extend %btn;
	background-color: $color-home;
	z-index: 9;
}
.about-btn{
	@extend %btn;
	background-color: $color-about;
	z-index: 8;
}
.contribute-btn{
	@extend %btn;
	background-color: $color-contribute;
	z-index: 7;
}
.idk-btn{
	@extend %btn;
	background-color: $color-idk;
	z-index: 6;
}

.move-home{
	@include moveHome(0,200px);
	animation-duration: .25s;
}
.move-contribute{
	@include moveContribute(100px,173.2px);
	animation-duration: .30s;
}
.move-about{
	@include moveAbout(173.2px,100px);
	animation-duration: .35s;
}
.move-idk{
	@include moveIdk(200px,0);
	animation-duration: .40s;
}
.rev-menu{
	@include revMenu();
	animation-duration: .25s;
}