@import "compass";
@import "partials/base";
@import "partials/variables";
@import "partials/normalize";
@import "partials/layout";
@import "partials/modules";
@import "partials/mixins";

// button styling

%btn{
	position: absolute;
	width: 4em;
	height: 4em;
	border-radius : 50%;
	margin: 5% auto;
	cursor: pointer;
	//background-color: #0099ff;
	text-align : center;
	padding-top : 1.75%;
	box-shadow: 2px 2px 2px 2px #e3e3e3;
}
.menu-btn{
	@extend %btn;
	background-color: $color-menu;
	z-index: 10;
}
.home-btn{
	@extend %btn;
	background-color: $color-home;
	//z-index: 9;
}
.about-btn{
	@extend %btn;
	background-color: $color-about;
	//z-index: 8;
}
.contribute-btn{
	@extend %btn;
	background-color: $color-contribute;
	//z-index: 7;
}

.move-home{
	$x : 0;
	$y : 0;
	@include moveTo(200px,200px);
	animation-duration: 5s;
}
.move-about{
	$x : 0;
	$y : 0;
	@include moveTo(100px,200px);
	animation-duration: 4s;
}
.move-contribute{
	$x : 0;
	$y : 0;
	@include moveTo(45px,34px);
	animation-duration: 2s;
}