@import "compass";
@import "partials/base";
@import "partials/variables";
@import "partials/normalize";
@import "partials/layout";
@import "partials/modules";
@import "partials/mixins";
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

body {
	display : flex;
	justify-content : center;
	flex-direction : column;
	align-items : center;
}

// button styling
%btn{
	position: absolute;
	width: 5em;
	height: 5em;
	border-radius : 50%;
	margin: 5% auto;
	cursor: pointer;
	text-align : center;
	line-height: 2em;
	padding-top : 1.75%;
	box-shadow: 4px 4px 4px 2px #e3e3e3;
	color: #fff;
	font-family: Josefin Sans,sans-serif;
	font-weight: bold;
}
.menu-btn{
	@extend %btn;
	background-color: $color-menu;
	z-index: 10;
}
.home-btn{
	@extend %btn;
	background-color: $color-home;
	z-index: 9;
}
.about-btn{
	@extend %btn;
	background-color: $color-about;
	z-index: 8;
}
.contribute-btn{
	@extend %btn;
	background-color: $color-contribute;
	z-index: 7;
}
.idk-btn{
	@extend %btn;
	background-color: $color-idk;
	z-index: 6;
}

.move-home{
	@include moveHome(0,200px);
	animation-duration: .25s;
}
.move-contribute{
	@include moveContribute(100px,173.2px);
	animation-duration: .30s;
}
.move-about{
	@include moveAbout(173.2px,100px);
	animation-duration: .35s;
}
.move-idk{
	@include moveIdk(200px,0);
	animation-duration: .40s;
}
.rev-menu{
	@include revMenu();
	animation-duration: .25s;
}

//Flickr buttons styling

%dot {
	position : absolute;
	width : $WIDTH;
	height: $HEIGHT;
	display : inline-block;
	border-radius : 100%;
	animation : blue 1.15s ease-in-out infinite;
}

.pink{
	@extend %dot;
	background : $pink;
	animation-name : pink;
	transform : translateX(-$DISTANCE);
}

.blue{
	@extend %dot;
	background : $blue;
	transform : translateX($DISTANCE);
}
.flickr-pad{
	display : flex;
	justify-content : center;
	align-items : center;
	width : 100vw;
	height: 100vh;
}
//Animations

@keyframes pink {
	50%{
		transform : translateX($DISTANCE);
	}
}

@keyframes blue {
	0% {
		z-index : 1;
	}
	50% {
		transform : translateX(-$DISTANCE);
	}
}

//Loader

%circle {
	width : $DIAM;
	height: $DIAM;
	display : block;
	border-radius : 100%;
}

.loader{
	background : #e3e3e3;
	display : flex;
	justify-content : center;
	align-items : center;
	width : 400px;
	height: 400px;
}

.red{
	@extend %circle;
	background : $pink;
	margin : 1em;
	@include move(1.75em, 1.75em, 1.75em, 0, 0, 0, 0, 1.75em);
}
.green{
	@extend %circle;
	background : $blue;
	margin : 1em;
	@include move(1.75em, 0, 0, 0, 0, 1.75em, 1.75em, 1.75em);
	animation : move 2s ease-in-out infinite;
}
.yellow{
	@extend %circle;
	background : $lightgreen;
	margin : 1em .5em;
	@include move(0, 0, 0, 1.75em, 1.75em, 1.75em, 1.75em, 0);
}
.cyan{
	@extend %circle;
	background : $darkgreen;
	margin : 1em .5em;
	@include move(0, 1.75em, 1.75em, 1.75em, 0, 0, 0, 0);
}

// Heart styling

.viewport {
	background-color : $background;
	height : 500px;
	width : 500px;
	display : flex;
	justify-content : center;
	flex-direction : column;
	align-items : center;
	margin : 10% 0 10% 0;
}

.viewport:before, .viewport:after {
	content : "";
	position : absolute;
	left : 600px;
	top : 950px;
	display : inline-block;
	width : 70px;
	height : 115px;
	background-color : $red;
	border-radius : 50px 50px 0 0;
	-webkit-border-radius : 50px 50px 0 0;
	-moz-border-radius : 50px 50px 0 0;
	-o-border-radius : 50px 50px 0 0;
	transform : rotate(-45deg);
}

.viewport:after {
	content : "";
	position : absolute;
	left : 633px;
	top : 950px;
	display : inline-block;
	width : 70px;
	height : 115px;
	background-color : $red;
	border-radius : 50px 50px 0 0;
	-webkit-border-radius : 50px 50px 0 0;
	-moz-border-radius : 50px 50px 0 0;
	-o-border-radius : 50px 50px 0 0;
	transform : rotate(45deg);
}

@keyframes beat {
	25% {
		width : 90px;
		height : 125px;
		border-radius : 65px 65px 0 0;
	}
	75%{
		width : 120px;
		height : 155px;
		border-radius : 95px 95px 0 0;
		// background-color : #e3e3e3;
	}
	// 100% {
	// 	width : 20%;
	// 	height : 20%;
	// }
}

.viewport:before, .viewport:after {
	animation : beat .9s ease-in-out infinite;
}