$color-menu : #E74C3C;
$color-home: #76D7C4;
$color-about: #DAF7A6;
$color-contribute: #D2B4DE;
$color-idk: #F4D03F;
$pink : #ED4B70;
$blue: #0163DB;
$lightgreen : #71FA0C;
$darkgreen : #16A085;

//Flickr buttons

$WIDTH : 50px;
$HEIGHT : 50px;
$SEPARATION : 10px;

$DISTANCE : ($WIDTH + $SEPARATION)/2;

//Loader variables

$DIAM : 15px;

// Heart variables

$red : #F0150A;
$background : #2E4053;