$color-menu : #E74C3C;
$color-home: #76D7C4;
$color-about: #DAF7A6;
$color-contribute: #D2B4DE;
$color-idk: #F4D03F;
$pink : #ED4B70;
$blue: #0163DB;

//Flickr buttons

$WIDTH : 50px;
$HEIGHT : 50px;
$SEPARATION : 10px;

$DISTANCE : ($WIDTH + $SEPARATION)/2;